html {height: 100%;}

header{
	position:fixed;
}

body {
	height: 100%;
	font: 14px/24px Arial, Tahoma, sans-serif;
	background-color: #999;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {text-decoration: none;}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.nav,
#touch-menu {
	background: #3e4156;
}
.nav li {float: left;}
.nav li a,
#touch-menu {
	display: block;
	padding: 10px 41.5px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}
.nav li a:hover,
#touch-menu:hover {
	background: #515572;
}

#touch-menu {display: none;}

@media (max-width: 975px) {
	header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	.nav {display: none;}
	.nav li {float: none;}
	.nav li a {
		border-top: 1px solid #eee;
		border-left: 3px solid transparent;
		background: #fff;
		color: #666;
	}
	.nav li:first-child a {border-top: none;}
	.nav li a:hover {
		background: #f0f0f0;
		color: #444;
		border-left: 3px solid #515572;
	}
	#touch-menu {display: block;}
}

@media (max-width: 400px){
	.image{
		width: 100%;
		height: auto;
		display: inline-block;
	}
	.pasword-input{
		width: 50%;
		height: auto;
	}
}

.main_window{
	border-top: 55px solid #999; 
	width: 958px;
	height: 1000px;
	background: #fff;
}

.title{
	white-space:pre;
	font-size: 20px;
	color:red;
	background: #F0EAD5;
	height: 35px;
	border-top: 5px solid #F0EAD5;
}

