html {height: 100%;}

body {
	height: 100%;
	font: 14px/24px Arial, Tahoma, sans-serif;
	background-color: #ebebeb;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {text-decoration: none;}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.nav,
#touch-menu {
	background: #3e4156;
}
.nav li {float: left;}
.nav li a,
#touch-menu {
	display: block;
	padding: 10px 15px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}
.nav li a:hover,
#touch-menu:hover {
	background: #515572;
}

#touch-menu {display: none;}

@media (max-width: 768px) {
	header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	.nav {display: none;}
	.nav li {float: none;}
	.nav li a {
		border-top: 1px solid #eee;
		border-left: 3px solid transparent;
		background: #fff;
		color: #666;
	}
	.nav li:first-child a {border-top: none;}
	.nav li a:hover {
		background: #f0f0f0;
		color: #444;
		border-left: 3px solid #515572;
	}
	#touch-menu {display: block;}
}

.information{
	background: rgb(225,255,255);
	background: -moz-linear-gradient(top,  rgba(225,255,255,1) 0%, rgba(225,255,255,1) 7%, rgba(225,255,255,1) 12%, rgba(230,248,253,1) 30%, rgba(200,238,251,1) 54%, rgba(190,228,248,1) 75%, rgba(177,216,245,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,255,255,1)), color-stop(7%,rgba(225,255,255,1)), color-stop(12%,rgba(225,255,255,1)), color-stop(30%,rgba(230,248,253,1)), color-stop(54%,rgba(200,238,251,1)), color-stop(75%,rgba(190,228,248,1)), color-stop(100%,rgba(177,216,245,1)));
	background: -webkit-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
	background: -o-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
	background: -ms-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
	background: linear-gradient(to bottom,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 );
	width: 100%;
	padding: 20px;
	height: auto;
	display: inline-block;
}

.image{
	display: inline-block;
	width: 40%;
	height: auto;
	float: right;
	padding: 7px 0px 7px 0px;
	border-radius: 55px;
}

@media (max-width: 400px){
	.image{
		width: 100%;
		height: auto;
		display: inline-block;
	}
	.pasword-input{
		width: 50%;
		height: auto;
	}
}
.pasword-input{
	display: none;
	width: 20%;
	height: auto;
	border-top: solid 1px #000;	
	border-left: solid 1px #000;	
	border-right: solid 1px #000;	
	border-bottom: solid 1px #000;	
}
.pasword-input:hover{
	background: rgba(0,0,0,.05);
	
}

