.main_block{
	font: 14pt/18pt bold sans-serif;
	position:relative;
	top:20px;
	background-color:#D3D3D3;
	text-align :center;
	width: 960px;
    height: 665px;
}
h2{
	border-bottom: 2px solid grey;
	font: 16pt/15pt bold sans-serif;

}
.table_block{
	position:relative;
	margin: auto;
	width :400px;
}